#count {
    position: relative;
    width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 0;
    margin: -4px;
    background-color: #22252a;
    bottom: 2px;
}

.label {
    text-align: center;
    background-color: #2d2e2f;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

#cpu_percent {
    position: relative;
    width: 50px;
    top: 25px;
    left: 50px;
}

#cpus {
}

#oadd {
    position: relative;
    background-color: #008CBA;
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    width: 20px;
    height: 30px;
    bottom: 28px;
    left: 46px;
}

#osub {
    position: relative;
    background-color: #008CBA;
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    width: 20px;
    height: 30px;
    top: 25px;
    right: 24px;
}

.inner_add, .inner_sub {
    font-size: 18px;
}

#oadd:hover {
    background-color: #006b8f;
}

#osub:hover {
    background-color: #006b8f;
}

#tdiv {
    position: relative;
    float: right;
    bottom: 28px;
    right: 20px;
}

#tb{
    cursor: pointer;
}

#title{
    position: relative;
    float: right;
}

#table-card-head {
    width: 25%;
}

#program-name{
    width: 50%
}

.icos{
    width: 32%;
}

.btns{
    text-align: center;
    border: none;
    background-color: #2d3035;
}

#program-name {
    cursor: pointer;
}

.chart {
    height: 100%;
}

#hb {
    filter: invert(36%) sepia(41%) saturate(5202%) hue-rotate(172deg) brightness(95%) contrast(101%);    background-color: transparent;
    border-radius: 0px;
}

#hb:hover {
    filter: invert(23%) sepia(62%) saturate(7260%) hue-rotate(182deg) brightness(88%) contrast(101%);
}

#mem_cl {
    left: 0px;
    top: 0px;
}

#g_label{
    left: 0px;
    top: 0px;
}

.in_mem_d {
    text-align: center;
}

#inner_mem_d {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
